[Unit]
Description=spaiSH daemon
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/spaid
Restart=on-failure
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
